<main>
    <h2>Witaj na stronie do tworzenia list zadań</h2>
    <h4>W celu rozpoczęcia proszę wprowadź swoje dane, aby się zalogować</h4>
    <form method="post" action="/client">
        <fieldset>
            <legend>Zaloguj się</legend>
            <label for="username">Username</label>
            <input type="text" id="username" required>
            <br>
            <label for="password">Password</label>
            <input type="password" id="password" required>
            <input type="checkbox" id="toggle">
            <label for="toggle"><small>Show password</small></label>
            <br>
            <button class="top">Login</button>
        </fieldset>
    </form>
</main>
